<ion-view view-title="Chats">
  <ion-content>
    <div class="bar bar-header bar-positive">
      <button class="button icon ion-contrast" on-touch="showBackdrop()">
        <i >Backdrop</i>
      </button>
    </div>
    <ion-list show-reorder = "true">
      <ion-item class="item-remove-animate item-avatar item-icon-right has-header" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <ion-reorder-button class = "ion-navicon" on-reorder = "moveItem(chat, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>