<ion-view view-title="Test">
  <ion-content class="padding">

  <ion-slide-box>
   <ion-slide>
      <div class = "box box1">
         <h1>Box 1</h1>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box2">
         <h1>Box 2</h1>
      </div>
   </ion-slide>

   <ion-slide>
      <div class = "box box3">
         <h1>Box 3</h1>
      </div>
   </ion-slide>
  </ion-slide-box>
<div class="bar">
  <button class = "button button-icon icon ion-ios-arrow-left" ng-click = "previousSlide()"></button>
  <button class = "button button-icon icon ion-ios-arrow-right pull-right" ng-click = "nextSlide()"></button>
</div>
  </ion-content>
</ion-view>
 